@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
/* 
=================
variables
================= 
*/
:root {
  --btn-hover: #2f52ff;
  --grey-dark: #2d2a2a;
  --btn-color: #cd3870;
  --color-white: #fff;
  --font-family: Montserrat, Arial, Helvetica, sans-serif;
}

/* 
=================
default syles
================= 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media screen and (max-width: 70rem) {
  html {
    font-size: 50%;
  }
}
body {
  line-height: 1.5;
  font-family: var(--font-family);
  font-size: 1.5rem;
  color: var(--grey-dark);
}

.section-center {
  padding: 8rem;
  margin: 0 auto;
}

.section-benefit > h2 {
  font-weight: 800;
}
@media screen and (max-width: 75em) {
  .section-center {
    padding: 3rem;
  }
}
h1 {
  font-size: 3.2rem;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 3rem;
}
@media screen and (max-width: 1500px) {
  h1 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 0.2rem;
  }
}
h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

h3 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.3rem;
}
h4 {
  font-size: 2.1rem;
}
p {
  padding-bottom: 2rem;
  text-align: center;
  color: #898282;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.btn {
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  font-size: 1.7rem;
  border: none;
  color: white;
  background-color: var(--btn-color);
  border-radius: 1.5rem;
  display: inline-block;
  transition: all 0.3s ease-in;
}
.btn:hover {
  background-color: var(--btn-hover);
}
/* 
=================
navbar
================= 
*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  max-width: 1000px;
  margin: 0 auto;
  height: 5rem;
  padding: 4rem;
}
.logo {
  color: white;
  font-size: 2.5rem;
  font-weight: 0;
}
.logo span {
  font-size: 3rem;
  font-weight: 700;
}
.language {
  color: white;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.3rem;
}
.fa-globe {
  font-size: 2.5rem;
}

.nav-bar > span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 880px) {
  .language {
    display: none;
  }
}
/* 
=================
header
================= 
*/
.header {
  height: 85vh;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -9rem;
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  .header {
    height: 70vh;
  }
}
@media screen and (max-width: 650px) {
  .header {
    height: 50vh;
  }
}

.header .btn {
  text-align: left;
  margin-top: 2rem;
}
.header-banner {
  transform: translateY(5rem);
}
.header p {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
  color: white;
}
.header-banner .paragraph-caution {
  color: black;
  margin-top: 1rem;
  opacity: 0.7;
  font-size: 1.7rem;
}
@media screen and (max-width: 650px) {
  .btn-buttons {
    display: none;
  }
}

/* 
=================
search form
=================  
*/
.field {
  position: relative;
  width: 65vw;
  display: flex;
}
@media screen and (max-width: 900px) {
  .field {
    width: 90vw;
  }
}

.image {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #0195f5;
  height: 6rem;
  width: 6rem;
  border-radius: 3px;
  color: #fff;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.image:hover {
  filter: brightness(80%);
}

.input {
  background-color: #f2f2f2;
  border: none;
  padding: 3rem;
  padding-right: 0;
  font-size: 1.5rem;
  /* padding-right: 5rem; text and image don't overlap */
  font-size: 20px;
  width: 100%;
}
.input:focus {
  outline: none;
  box-shadow: 0 3px 35px rgba(47, 82, 255, 0.73);
}
/* 
=================
benefit
================= 
*/

.section-benefit p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 70rem) {
  .section-benefit p {
    width: 100%;
  }
}
.benefit-center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  margin-bottom: 7rem;
}

.benefit {
  padding: 3rem;
  margin-bottom: 2rem;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-image: linear-gradient(to right, #ffa557, #e35185) 1;
}
@media screen and (max-width: 1111px) {
  .benefit-center {
    grid-template-columns: 1fr 1fr;
  }
  .benefit {
    flex-direction: row;
    gap: 4rem;
  }

  .section-benefit p {
    text-align: left;
  }
  h3 {
    text-align: center;
  }
  @media screen and (max-width: 650px) {
    .benefit-center {
      grid-template-columns: 1fr;
    }
  }
}
.benefit span {
  font-size: 8rem;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffa557),
    to(#e35185)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

/* 
=================
story-details
================= 
*/
.story-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 8rem;
  row-gap: 3rem;
  place-items: center;
}
@media screen and (max-width: 1200px) {
  .story-details {
    display: flex;
    flex-direction: column;
  }
}
.detail {
  display: grid;
  grid-template-columns: min-content 18rem;
  column-gap: 2rem;
  row-gap: 5rem;
}
@media screen and (max-width: 1200px) {
  .detail {
    grid-template-columns: min-content 25rem;
  }
}
@media screen and (max-width: 1200px) {
  .detail {
    margin-bottom: 4rem;
  }
}

.detail-img {
  width: 22rem;
  height: 20rem;
  /* display:inline-block; */
}
.number {
  font-size: 5rem;
  color: #ffa195;
  grid-row: 1 / span 2;
  align-self: center;
}
.detail-btn {
  text-align: center;
  background-color: #f55f5f;
  padding: 1.5rem 2rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  max-width: 1142px;
  margin: 0 auto;
  margin-top: 5rem;
}
.detail-btn:hover {
  filter: brightness(110%);
}
a {
  text-decoration: none;
  color: inherit;
}

/* 
=============
FAQ
=============
*/

.faq-section {
  font-family: "Poppins", sans-serif;
  padding-top: 80px;
  margin-bottom: 60px;
  background-position: bottom right 0%;
}

.faq-section .faq_left_half_circle {
  position: absolute;
  left: 80px;
}

.faq-section .faq_left_half_circle img {
  position: relative;
  top: 140px;
}

.section-title {
  color: #2d2a2a;
  font-size: 32px;
  font-weight: 800;
  line-height: 50px;
}

.faq-section .faq-accordions {
  max-width: 1142px;
  margin: 0 auto;
}

.faq-section .faq-accordions .accordion-row {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #3566ac;
  cursor: pointer;
}

.faq-section .faq-accordions .accordion-row .title {
  width: calc(100% - 20px);
  color: #2d2a2a;
  font-weight: 600;
  font-size: 18px;
}

.faq-section .faq-accordions .accordion-row .title:hover {
  color: #f55f5f;
}

.faq-section .faq-accordions .accordion-row .title.open:hover {
  color: #2d2a2a;
}

.accordion-row {
  position: relative;
}
.faq-section .faq-accordions .title:after {
  content: "";
  position: absolute;
  border-left: #f55f5f 2px solid;
  border-bottom: #f55f5f 2px solid;
  right: 10px;
  top: 20px;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 10px;
  height: 10px;
  z-index: 1;
  transform: rotate(-45deg);
}

.faq-section .faq-accordions .title.open:after {
  transform: rotate(135deg);
  top: 14px;
}

.faq-section .faq-accordions .accordion-row .content {
  text-align: left;
  overflow: hidden;
  height: 0px;
  transition: 0.5s all;
  font-size: 15px;
  line-height: 26px;
  color: #5e5e5e;
  padding-top: 20px;
  max-width: 950px;
}

.faq-section .faq-accordions .accordion-row .open + .content {
  height: auto;
  overflow: initial;
  padding: 20px 0px;
}

/* 
=============
bottmon text
=============
*/
.main-bottom {
  margin-bottom: 80px;
}

.bottom-text {
  font-size: 15px;
  line-height: 1.4;
  text-align: left;
  color: #131313;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .faq-section .faq-accordions .accordion-row .title {
    font-size: 18px;
  }
}
/* 
=============
footer
=============
*/
.footer {
  background: var(--grey-dark);
  padding: 6rem;
  padding-bottom: 0;
}
.footer-info {
  display: grid;
  grid-template-columns: auto 1fr;
  /* justify-items: start; */
  align-items: center;
  column-gap: 5rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 1000px) {
  .footer-info {
    grid-template-columns: none;
    grid-template-rows: 1fr max-content;
    row-gap: 4rem;
  }
}
.footer-items {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  column-gap: 2rem;
  row-gap: 3rem;
  /* justify-items: start; */
}
@media screen and (max-width: 1000px) {
  .footer-items {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}
.footer-links {
  color: white;
  opacity: 0.8;
  text-transform: capitalize;
  justify-self: start;
  font-size: 1.7rem;
}
.footer-copyright {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5rem;
}

@media screen and (max-width: 1000px) {
  .footer-copyright {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
  }
  .footer-paragraph {
    grid-row: 1/2;
  }
}
